body {
  font-family: 'Lato', serif;
  color: #00336a;
}

h1{
	text-align: center;
  padding: 40px 0 40px 0;
  font-family: 'Pacifico', cursive;
  font-size: 1.6em;
}
h1 a {
  position: relative;
  top: 28px;
  left: -39px;
}
h1 small {
  position: relative;
  top: -6px;
  left: -6px;
  font-family: 'Kaushan Script', cursive;
  font-size: 0.9em;
}
h2 {
  font-family: 'Bree Serif', sans-serif;
}
.container{
	width:1000px;
	display:block; 
	margin-right: auto;
	margin-left:auto;
}

#pills {
}
#pills li a {
  color: #00336a;
  border-radius: 0;
  vertical-align: text-bottom;
  background-color: #ddd;
  border-bottom: 2px solid #ddd;
}
#pills li a:hover {
  border-bottom: 2px solid #00336a;
}
#pills li.active a {
  border-bottom: 2px solid #00336a;
  background-color: #00336a;
  color: white;
}

.header rect{
  fill: white;
}

.header text{
  fill: #222;
  font: 13px sans-serif;
  font-weight: bold;
  text-anchor: middle;
}
.header:hover rect {
  cursor: pointer;
  fill: #eee;
}
.header:hover text {
  cursor: pointer;
  /fill: white;
}
.cell text{
  font: 13px sans-serif;
  text-anchor: middle;
}
